/* Variables */

:root {
  --light-blue: #e8f8fe;
  --bright-blue: #0c93e5;
  --dark-blue: #0a273c;
  --dark-blue-highlighted: #003759;
  --background: rgb(240, 242, 245);
}

/* Global */

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
}

a,
a:visited {
  color: var(--bright-blue);
}

.rst-content .toctree-wrapper > p.caption,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: inherit;
}

.wy-nav-content-wrap {
  background-color: var(--background);
}

/* Navigation side bar */

.wy-nav-side,
.wy-side-nav-search,
.wy-side-scrool {
  background-color: var(--dark-blue);
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: white;
}

/* Main content */

.wy-nav-content {
  max-width: 1000px;
}

html.writer-html4 .rst-content dl:not(.docutils) > dt,
html.writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)
  > dt {
  color: var(--bright-blue);
  border-top: 3px solid var(--bright-blue);
  background-color: var(--light-blue);
}
